.nav {
  width: 90%;
  margin: 0 auto;
  &__logo-box {
    position: absolute;
    /* top & left starts counting from the parent element's position */
    top: 3rem;
    left: 7rem;
  }

  &__navbar {
    display: flex;
    justify-content: flex-end;
  }
}

.navlink {
  display: inline-block;
  padding: 0 4rem;
  color: rgb(238, 238, 238);
text-decoration: none;
font-size: 1.5em;
}

.navlink a {
color: rgb(238, 238, 238);
text-decoration: none;
font-size: 1.5em;
}

.logo {
  height: 5.5rem;
  // background-color: rgba(0, 0, 0, 0.842);
  // border-radius: 26px;
  /* WE JUST SPECIFY THE HEIGHT AS THE WIDTH WILL SET ACCORDINGLY */
}
