*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* ROOT SIZE OF FONTS (WHICH IS THE VALUE REM UNIT TAKES IS IN THE HTML */
html {
  font-size: 62.5%;
  /* now 1 rem = 10px */
}

/* FONT SIZE GOES HERE TO BE INHERITED BY ALL TAGS BUT NOT FORCEFUL LIKE UNIVERSAL TAG */
body {
  box-sizing: border-box; /* a type of box where margins and padding are not added. */
  max-width: 140rem;
  margin: 0 auto;
  background: linear-gradient(0.25turn, #3f87a6, #7894c8, #9c93ca, #b590cc);

background: rgb(4,4,28);
background: linear-gradient(256deg, rgba(4,4,28,0.938813025210084) 0%, rgba(48,51,59,0.8883928571428571) 22%, rgba(100,121,183,1) 35%, rgba(102,129,194,1) 42%, rgba(138,137,203,1) 50%, rgba(158,131,198,1) 61%, rgba(51,46,56,0.8855917366946778) 72%, rgba(16,5,32,1) 100%);
}
