body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; /*1.7x bigger than predefined height*/
  // color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in-out;
    animation-delay: 0.15s;
    /* animation-iteration-count: 3; */
  }
  &--sub {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-in-out;
    animation-delay: 0.15s;
    padding-bottom: 1rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-tertiary {
  color: #e2e2e2;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: 500;
}

.paragraph{
  font-size: 1.6rem;
}